@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "theme";
	default: true;
	prefersdark: true;
	color-scheme: "light";
	--color-base-100: oklch(98% 0.001 106.423);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(92% 0.003 48.717);
	--color-base-content: oklch(21% 0.006 56.043);
	--color-primary: oklch(59% 0.145 163.225);
	--color-primary-content: oklch(97% 0.021 166.113);
	--color-secondary: oklch(51% 0.262 276.966);
	--color-secondary-content: oklch(96% 0.018 272.314);
	--color-accent: oklch(44% 0.043 257.281);
	--color-accent-content: oklch(98% 0.003 247.858);
	--color-neutral: oklch(21% 0.006 56.043);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(54% 0.245 262.881);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(64% 0.2 131.684);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(66% 0.179 58.318);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(59% 0.249 0.584);
	--color-error-content: oklch(97% 0.014 343.198);
	--radius-selector: 1rem;
	--radius-field: 2rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}
